#contenido{
		padding-top: 10px 20px 30px 40px;
		background: pink;
		border: 7px solid purple;
	}

h1{
     border: 3px dashed black;
     background: white;
     text-align: center;
     font-family: cursive;
     margin: 20px 20px 80px 40px;

}

img{
	width: 50px;
	height: 50px;
}
